<footer data-automation-id="footer">
	<ul>
		<li>
			Contact us:
		</li>
		<li>
			<a href="tel:+1234567890" data-automation-id="tel-link">
				<mat-icon aria-hidden="false" aria-label="Call us icon">phone</mat-icon>
				<span>call</span>
			</a>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer" href="mailto:example@example.ex"
			   data-automation-id="email-link">
				<mat-icon aria-hidden="false" aria-label="Email us icon">email</mat-icon>
				<span>email</span>
			</a>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer"
			   href="http://maps.google.com/?q=Albuquerque, New Mexico, 87104"
			   data-automation-id="address-link">
				<mat-icon aria-hidden="false" aria-label="Visit us icon">home</mat-icon>
				<span>visit</span>
			</a>
		</li>
	</ul>
</footer>
