@import '../../../styles/variables';

footer {
	margin-bottom: auto;
	padding: 10px;
	background-color: $light-background;

	li {
		margin: 0 1rem;
		font-size: 1rem;
		color: $dark-blue;
	}

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $dark-blue;

		span {
			margin: 0 0.4rem;
		}
	}
}
