@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p data-automation-id="count-quantity-label" role="status">Current count: @_currentCount</p>

<button data-automation-id="increment-count-button" class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        _currentCount += IncrementAmount;
    }
}
