@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 data-automation-id="counter-page-label">Counter</h1>

<p 
    role="status" 
    data-automation-id="counter-page-text">Current count: @currentCount
</p>

<button
    class="btn btn-primary"
    @onclick="IncrementCount"
    data-automation-id="counter-page-button">Click me
</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
}
