@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp.Data
@inject WeatherForecastService ForecastService

<h1 data-automation-id="forecast-page-header">Weather forecast</h1>

<p data-automation-id="forecast-page-paragraph">This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" data-automation-id="forecast-table">
        <thead>
            <tr>
                <th data-automation-id="table-header-date">Date</th>
                <th data-automation-id="table-header-temp-c">Temp. (C)</th>
                <th data-automation-id="table-header-temp-f">Temp. (F)</th>
                <th data-automation-id="table-header-summary">Summary</th>
            </tr>
        </thead>
        <tbody>
        <tr data-automation-id="table-row">
                    <td data-automation-id="table-cell">28.10.2019</td>
                    <td data-automation-id="table-cell">18</td>
                    <td data-automation-id="table-cell">64.4</td>
                    <td data-automation-id="table-cell">Mild</td>
                </tr>
                <tr data-automation-id="table-row">
                    <td data-automation-id="table-cell">25.07.2021</td>
                    <td data-automation-id="table-cell">30</td>
                    <td data-automation-id="table-cell">86</td>
                    <td data-automation-id="table-cell">Hot</td>
                </tr>
                <tr data-automation-id="table-row">
                    <td data-automation-id="table-cell">31.09.2021</td>
                    <td data-automation-id="table-cell">20</td>
                    <td data-automation-id="table-cell">68</td>
                    <td data-automation-id="table-cell">Warm</td>
                </tr>
                <tr data-automation-id="table-row">
                    <td data-automation-id="table-cell">25.10.2021</td>
                    <td data-automation-id="table-cell">14</td>
                    <td data-automation-id="table-cell">57.2</td>
                    <td data-automation-id="table-cell">Mild</td>
                </tr>
                <tr data-automation-id="table-row">
                    <td data-automation-id="table-cell">07.03.2022</td>
                    <td data-automation-id="table-cell">0</td>
                    <td data-automation-id="table-cell">32</td>
                    <td data-automation-id="table-cell">Bracing</td>
                </tr>
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
