@page "/greetings"

<PageTitle>Greetings</PageTitle>

<h2 data-automation-id="greetings-page-header">Here you can test input elements</h2>

<div data-automation-id="greetings-input-text">Enter your name:</div>

<div>
    <input class="input-group-text" data-automation-id="greetings-page-input" @bind="username">
    <button
        class="btn btn-primary"
        @onclick="ChangeUsername"
        data-automation-id="greetings-page-button">
            Say hello
    </button>
</div>

<div style="display: @visibility" data-automation-id="greetings-page-paragraph">
    Hello, @_userName!
</div>

@code {
    private string _userName = string.Empty;

    public string visibility = "none";
    public string username = string.Empty;

    private void ChangeUsername()
    {
        _userName = username;
        visibility = "initial";
    }
}