@page "/"

<PageTitle>Behavioral automation demo</PageTitle>

<h1 data-automation-id="main-page-header">Behavioral automation demo</h1>
<div  class="form-control-plaintext" data-automation-is="main-page-paragraph">
    <p>Welcome to Behavioral.Automation demo app!</p>
    <p>Here you can get familiar with different web elements, and try to</p>
    <p>automate interaction with them using DemoBindings and DemoScenarios projects</p>
</div>
<div>
    <p class="fw-bold" data-automation-id="main-elements-list-header">There are few types of web elements present in this app:</p>
    <ul data-automation-id="main-elements-list">
        <li>Button</li>
        <li>Input</li>
        <li>Table</li>
        <li>Text</li>
        <li>List</li>
    </ul>
</div>


