@page "/"

<PageTitle>Behavioral automation demo</PageTitle>

<h1>Hello, world!</h1>

<label data-automation-id="label-simple-text">Behavioral automation demo</label>

Welcome to your new app.

<SurveyPrompt Title="test" />

<Counter IncrementAmount="1" />
