<header class="mat-elevation-z1" data-automation-id="header">
	<span class="nav-title">Behavioral automation demo</span>

	<nav data-automation-id="header-navigation">
		<ul>
			<li>
				<button mat-button class="nav-link" [matMenuTriggerFor]="aboutUs" data-automation-id="about-us">
					About us
					<mat-icon aria-hidden="false" aria-label="Open about us menu">arrow_drop_down</mat-icon>
				</button>

			</li>
			<li>
				<a mat-button class="nav-link" routerLink="register" routerLinkActive="active"
				   data-automation-id="register">
					Register
				</a>
			</li>
		</ul>
	</nav>
</header>

<mat-menu #aboutUs="matMenu">
	<button mat-menu-item (click)="this.router.navigateByUrl('about-us/terms-and-conditions')"
	        data-automation-id="terms">
		Terms and Conditions
	</button>
</mat-menu>
