<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/alspozdnyakov/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="alspozdnyakov" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>