name: Playwright project tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  PlaywrightProjectTests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK '5.0.x'
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '5.0.x'
      - name: PR
        run: |
          cd ./Behavioral.Automation.Scenarios
          dotnet test
