<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/quantori/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="quantori" />
            <add key="ClearTextPassword" value="265fcad6b16e1d2b7ccd18a283cc8ccb8a4f55a6" />
        </github>
    </packageSourceCredentials>
</configuration>